<div class="body-block">
  <div>
    <a href="/users/new">Signup</a>
  </div>

  <form name="form" class="new-form" method="POST" action="/login">
    <label for="email">E-Mail Address:</label>
    <input type="text" id="email" name="email" required="required" />
    <br/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" />
    <br/>

    <input type="submit" value="Login" />
  </form>
</div>
