<div class="body-block">
  <form name="login_form" method="POST" action="/login">
    <label for="input_email">E-Mail Address:</label>
    <input type="text" id="input_email" name="input_email" required />
    <br/>

    <label for="input_password">Password:</label>
    <input type="password" id="input_password" name="input_password" required />
    <br/>

    <input type="submit" value="Submit" />
  </form>
</div>
