<div class="body-block">
  <form name="login_form" class="new-form" method="POST" action="/login">
    <label for="email">E-Mail Address:</label>
    <input type="text" id="email" name="email" required />
    <br/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br/>

    <input type="submit" value="Submit" />
  </form>
</div>
