<div class="body-block">
  <form name="form" class="new-form" method="POST" action="/movies">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required />
    <br/>

    <input type="submit" value="Submit" />
  </form>
</div>
