<div class="body-block">
  <form name="signup_form" method="POST" action="/signup">
    <label for="signup_firstname">First name:</label>
    <input type="text" id="signup_firstname" name="signup_firstname" required />
    <br/>

    <label for="signup_lastname">Last name:</label>
    <input type="text" id="signup_lastname" name="signup_lastname" required />
    <br/>

    <label for="signup_email">E-Mail:</label>
    <input type="text" id="signup_email" name="signup_email" required />
    <br/>

    <label for="signup_password">Password:</label>
    <input type="password" id="signup_password" name="signup_password" required />
    <br/>

    <input type="submit" value="Submit" />
  </form>
</div>
