<div class="body-block">
  <div>
    <a href="/login">Login</a>
  </div>

  <form name="form" class="new-form" method="POST" action="/users">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" />
    <br/>

    <label for="email">E-Mail:</label>
    <input type="text" id="email" name="email" required="required" />
    <br/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" />
    <br/>

    <input type="submit" value="Submit" />
  </form>
</div>
